
.icon-Coffee13-icon:before { content: '\e800'; } /* '' */
.icon-Coffee14-icon:before { content: '\e801'; } /* '' */
.icon-coffee-beans-coffee-svgrepo-com-icon:before { content: '\e803'; } /* '' */
.icon-1296719:before { content: '\e807'; } /* '' */
.icon-2024197:before { content: '\e808'; } /* '' */
.icon-coffee-bean-icon:before { content: '\e80a'; } /* '' */
.icon-coffee-beans-for-sale-svgrepo-com:before { content: '\e80b'; } /* '' */
.icon-coffee-tables-svgrepo-com:before { content: '\e80c'; } /* '' */
.icon-coffee-filters-svgrepo-com:before { content: '\e810'; } /* '' */
.icon-coffee-beans-svgrepo-com:before { content: '\e812'; } /* '' */
.icon-coffee-svgrepo-com-icon:before { content: '\e813'; } /* '' */
.icon-coffee-maker-svgrepo-com:before { content: '\e814'; } /* '' */
.icon-coffee-beans-svgrepo-com-icon:before { content: '\e815'; } /* '' */
.icon-coffee-maker-svgrepo-com-icon:before { content: '\e817'; } /* '' */
.icon-coffee-pouch-holder-svgrepo-com:before { content: '\e818'; } /* '' */
.icon-coffee-holder-svgrepo-com:before { content: '\e819'; } /* '' */
.icon-speech-bubble-icon-svgrepo-com:before { content: '\e81a'; } /* '' */
.icon-contact-list-svgrepo-com:before { content: '\e81b'; } /* '' */
.icon-mission-svgrepo-com:before { content: '\e81c'; } /* '' */
.icon-increase-in-value-svgrepo-com:before { content: '\e81e'; } /* '' */
.icon-property-svgrepo-com:before { content: '\e81f'; } /* '' */
.icon-Coffee1-icon:before { content: '\e820'; } /* '' */
.icon-Coffee2-icon:before { content: '\e821'; } /* '' */
.icon-Coffee3-icon:before { content: '\e822'; } /* '' */
.icon-Coffee4-icon:before { content: '\e823'; } /* '' */
.icon-Coffee5-icon:before { content: '\e824'; } /* '' */
.icon-Coffee6-icon:before { content: '\e825'; } /* '' */
.icon-Coffee7-icon:before { content: '\e826'; } /* '' */
.icon-Coffee9-icon:before { content: '\e827'; } /* '' */
.icon-Coffee10-icon:before { content: '\e828'; } /* '' */
.icon-Coffee11-icon:before { content: '\e829'; } /* '' */
.icon-Coffee12-icon:before { content: '\e82a'; } /* '' */
